.foot{ 	
	font-family: 'Overpass', sans-serif;
	padding-left: 20px;
	width: 100%;
	height: 200px;
	display: flex;	
	justify-content: space-evenly;
	background: linear-gradient(270deg, rgb(53, 35, 18) 0%, rgb(221, 167, 96) 100%);
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
	&__divFooter{
	padding-top: 20px;
	}
	&__divFooter--copyright{
	grid-column: 1 / span 3 ;
}
}
