$ancho: 100px;
$padding: 5px;


.fondoImagenMain{
	background-color: black;
	display: flex;
	justify-content: center;
}

.tablaProductoDest{
	border-collapse: collapse;
	font-family: 'Overpass', sans-serif;
	padding: 30px;
	text-align: center;
	display: flex;
	justify-content: center;
	&__th{
		border: 3px solid;
	}
	&__td{
		border: 3px solid;
	}
	&__listaProductoDestacado{
		list-style: none;
		text-align: left;
		margin-left: -21px;
		margin-right: 20px;	
	}
}

.btnProductoDEstacado{
	text-align: center;
	border: none;
	padding: 25px 25px;
}
.productosGeneral{
	display: flex;
	flex-direction: row;
	justify-content: center;
	display: grid;
	grid-template-columns: auto auto ;
	background-color: rgb(192, 189, 189);
	&__cadaProducto{
		margin: 20px;
		display:flex;
		width: ($ancho*4)+55;
		flex-direction: column;
		justify-content: center;
	}
	&__descripcionProducto{
		display: grid;
		font-size: 15px;
		font-family: 'Overpass', sans-serif;
		justify-content: start;
	}
	&__cadaProducto--lentes3{
		grid-row: 1 /3;
	}
	&__precio{
		font-weight: bold;
		font-style: italic;
	}	
}

.mainNosotros{
	width: 100%;
	height: 550px;
}

.containerNosotros{
	display: flex;
	margin: 5px;
	padding: 20px;
	justify-content: center;
	&__item1{
		font-family: 'Overpass', sans-serif;
		padding: $padding+15;
		width: 50%;
		height: 400px;
		text-align: start;
		border: 2px rgb(158, 147, 147);
	}
	&__item2{
		padding: $padding+15;
		width: 50%;
		height: 400px;
		text-align: center;
	}
}

.containerContacto{
	display: flex;
	flex-direction: row;
	margin: 5px;
	padding: 20px;
	justify-content: center;
	width: 90%;
	height: 500px;
	&__item1{
		padding: $padding+15;
		width: 100px;
		height: 500px;
		text-align: start;
		flex-grow: 1;
	}
	&__item2{
		padding: $padding+15;
		width: 10%;
		height: 500px;
		
	}
}

.formContacto{
	margin: 5px;
	padding: ($padding+5)/2;
	&__btnEnviarFormulario{
		width: $ancho*2;
		padding: $padding*2;
		margin-bottom: 115px;
		margin-left: 300px;
		transition: all 0.5s ease-out;
		background: black;
	}
	&__btnEnviarFormulario:hover{
		background-color: rgb(221, 167, 96);
		color: white;
		transform: scale(1.2);
	}
}

legend{
	margin-bottom: 10px;
}

.preguntFrec{
	font-family: 'Overpass', sans-serif;
	padding-left: ($padding*10)-30;
	&__texto{
		padding: 25px;
		width: 60%;
	}
}

.collapseChilli{
	background-color: rgb(192, 189, 189)
}