$padding: 5px;

nav{
	padding-left: $padding*4;
}
#header{
	background-color: black;
	padding: 20px;
}

.listaNav{
	margin-left: 10px;
	font-family: 'Overpass', sans-serif;
	position: relative;
	list-style: none;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	align-items: center;
	&__pag {
		margin-right: 25px;
		font-size: 1.3rem;
		display: flex;
	}
	a:hover{
		color:rgb(221, 167, 96);
	}
	&__white{
		color: white;
		text-decoration: none;
	}
}